{:blocks (
{:block/created-at 1706500187552
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [174 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "69f78520-be59-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [480 64]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500173583
:italic false
:text "English Linguistic"}}
:block/updated-at 1706500187552} 
{:block/created-at 1706500205005
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [141 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7865d350-be59-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [312 152]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500197662
:italic false
:text "Voiced Sound"}}
:block/updated-at 1706500205005} 
{:block/created-at 1706500213803
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [166 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7df8d3d0-be59-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [352 256]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500207021
:italic false
:text "Voiceless Sound"}}
:block/updated-at 1706500213803} 
{:block/created-at 1706500220957
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [130 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "837f2a20-be59-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [712 192]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500216280
:italic false
:text "Nasal Sound"}}
:block/updated-at 1706500220957} 
{:block/created-at 1706500226720
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [116 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "87693590-be59-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [712 224]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500222847
:italic false
:text "Oral Sound"}}
:block/updated-at 1706500226720} 
{:block/created-at 1706500243949
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [113 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "8ffea0a0-be59-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [632 328]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500237260
:italic false
:text "Consonant"}}
:block/updated-at 1706500243949} 
{:block/created-at 1706500705361
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 6
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [67 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "94e97a40-be59-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [632 392]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500245510
:italic false
:text "Vowel"}}
:block/updated-at 1706500705361} 
{:block/created-at 1706501010604
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 7
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [67 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "98c1f980-be59-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [984 216]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500251991
:italic false
:text "Onset"}}
:block/updated-at 1706501010604} 
{:block/created-at 1706500749579
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 8
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [87 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "bb6b4e90-be5a-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [800 368]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500739605
:italic false
:text "Nucleus"}}
:block/updated-at 1706500749579} 
{:block/created-at 1706500749585
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 9
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [61 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "bfd5d4a0-be5a-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [808 416]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500747000
:italic false
:text "Coda"}}
:block/updated-at 1706500749585} 
{:block/created-at 1706545353732
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:rotation 0
:borderRadius 0
:index 10
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [1617 226]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "371e7b70-be5b-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [-392 -264]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706500949496
:italic false
:text "Cô có các trò chơi như dịch từ, dịch passage từ kí âm\n\nHóa ra thứ cô dạy trên lớp là tổng hợp của nhiều giáo trình chứ không chỉ từ một cuốn sách\n=> Nếu ai không đọc trước để mà nhớ hoặc đã có sự tổng hợp lại để access về sau khi nghe cô giảng mà nhìn lại bài học (nhớ dễ hơn, nhanh hơn), thì cũng khó học lắm\n\nNhưng mà dạy về âm, ngoài giải thích logic + bảo cảm nhận xúc giác + nhìn trên bảng\n=> để nhớ thì không phải học thuộc mà nên có thêm cả phần nhìn từng âm được phát âm như nào qua hình ảnh giải phẫu (để correct lại những đứa còn sai hoặc chưa hiểu)\n\nCô không dạy về cách khái niệm từ nguyên về vị trí của bộ phận cấu âm được hình thành lên -> cách nhớ nó"}}
:block/updated-at 1706545353732} 
{:block/created-at 1706501010604
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 11
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [75 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "59de0d10-be5b-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [944 344]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706501005419
:italic false
:text "Rhyme"}}
:block/updated-at 1706501010604} 
{:block/created-at 1706501017203
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 12
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [61 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5da12f90-be5b-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [1064 200]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706501011733
:italic false
:text "Initial"}}
:block/updated-at 1706501017203} 
{:block/created-at 1706501034352
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 13
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [74 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "68821140-be5b-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [1064 232]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706501030013
:italic false
:text "Medial"}}
:block/updated-at 1706501034352} 
{:block/content "Cô có các trò chơi như dịch từ, dịch passage từ kí âm\r\n\r\nHóa ra thứ cô dạy trên lớp là tổng hợp của nhiều giáo trình chứ không chỉ từ một cuốn sách"
:block/format :markdown
:block/left 
{:block/uuid #uuid "65b72044-4165-4068-9e4b-356496d97330"}
:block/parent 
{:block/uuid #uuid "65b72044-4165-4068-9e4b-356496d97330"}
:block/uuid #uuid "65b725e2-44f4-4995-9be8-5a2c5b743c2e"} 
{:block/created-at 1706503562018
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 14
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [1137 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2ed37820-be61-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [-392 -8]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706503510422
:italic false
:text "Tại sao mồm ở vị trí nào đó lại khiến 1 luồng hơi phát thành một loại thanh riêng rồi mồm vận động, nó ra một âm nào đó"}}
:block/updated-at 1706503562018} 
{:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 15
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [372 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "45b41900-be61-11ee-8755-2beed5fa2230"
:padding 4
:fontWeight 400
:noFill true
:point [-368 152]
:lineHeight 1.2
:fontSize 20
:parentId "65b72044-4165-4068-9e4b-356496d97330"
:nonce 1706503548636
:italic false
:text "Nhớ trình tự cấu âm: từ ngoài -> trong"}}
:block/updated-at 1706503562019})
:pages (
{:block/uuid #uuid "65b72044-4165-4068-9e4b-356496d97330"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "65b72044-4165-4068-9e4b-356496d97330"
:name "english linguistic"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("69f78520-be59-11ee-8755-2beed5fa2230" "7865d350-be59-11ee-8755-2beed5fa2230" "7df8d3d0-be59-11ee-8755-2beed5fa2230" "837f2a20-be59-11ee-8755-2beed5fa2230" "87693590-be59-11ee-8755-2beed5fa2230" "8ffea0a0-be59-11ee-8755-2beed5fa2230" "94e97a40-be59-11ee-8755-2beed5fa2230" "98c1f980-be59-11ee-8755-2beed5fa2230" "bb6b4e90-be5a-11ee-8755-2beed5fa2230" "bfd5d4a0-be5a-11ee-8755-2beed5fa2230" "371e7b70-be5b-11ee-8755-2beed5fa2230" "59de0d10-be5b-11ee-8755-2beed5fa2230" "5da12f90-be5b-11ee-8755-2beed5fa2230" "68821140-be5b-11ee-8755-2beed5fa2230" "2ed37820-be61-11ee-8755-2beed5fa2230" "45b41900-be61-11ee-8755-2beed5fa2230")}}
:block/journal? false
:block/updated-at 1706545353731
:block/created-at 1706500164836
:block/type "whiteboard"
:block/name "english linguistic"
:block/original-name "English Linguistic"})}