:root {
  --favicons: none;
}
a.external-link {
    border-bottom: none ;
}
.page.relative>.relative .pre-block[data-refs-self*=":center-align"] ~ .ls-block[level="1"] {
    text-align: center;
}
.table td, table th {
    text-align: center;
    vertical-align: center;
}
