:root {
  --favicons: none;
}
a.external-link {
    border-bottom: none ;
 
}
.page.relative>.relative .pre-block[data-refs-self*=":center-align"] ~ .ls-block[level="1"] {
    text-align: center;
}
.external-link {
    text-decoration: none; /* Remove underline */
    color: blue;

 var(--external-link-color)
