{:highlights [{:id #uuid "6473693e-3f42-4031-a50b-7f897d97c931",
               :page 208,
               :position {:bounding {:x1 0,
                                     :y1 14.399999976158142,
                                     :x2 581.344262689352,
                                     :y2 844.0456298589706,
                                     :width 668.7092254901961,
                                     :height 855.6367892156862},
                          :rects ({:x1 0,
                                   :y1 14.399999976158142,
                                   :x2 0,
                                   :y2 33.600000739097595,
                                   :width 668.7092254901961,
                                   :height 855.6367892156862}
                                  {:x1 581.3317504823208,
                                   :y1 838.4455932378769,
                                   :x2 581.344262689352,
                                   :y2 844.0456298589706,
                                   :width 668.7092254901961,
                                   :height 855.6367892156862}),
                          :page 208},
               :content {:text "Even well-managed businesses can run into trouble. Goods are not delivered, products fail to perform as expected, service is poor, billing gets fouled up, or customers are misunderstood. You may have to write messages declining proposals, explaining service outages, describing data breaches, announcing price increases, refusing requests for donations, turning down invitations, or responding to unhappy customers. You might have to apologize for mistakes in orders or"},
               :properties {:color "yellow"}}
              {:id #uuid "64736951-f2ec-436b-99a2-5c1f40d51a38",
               :page 208,
               :position {:bounding {:x1 49.037499994039536,
                                     :y1 406.41251373291016,
                                     :x2 156.86480101943016,
                                     :y2 420.0125198364258,
                                     :width 668.7092254901961,
                                     :height 855.6367892156862},
                          :rects ({:x1 49.037499994039536,
                                   :y1 406.41251373291016,
                                   :x2 156.86480101943016,
                                   :y2 420.0125198364258,
                                   :width 668.7092254901961,
                                   :height 855.6367892156862}),
                          :page 208},
               :content {:text "Learning Outcomes"},
               :properties {:color "yellow"}}
              {:id #uuid "6473697e-16a1-4454-a9bc-92449e8dd6be",
               :page 208,
               :position {:bounding {:x1 49.037499994039536,
                                     :y1 324.7999938726425,
                                     :x2 104.872941583395,
                                     :y2 335.200018286705,
                                     :width 668.7092254901961,
                                     :height 855.6367892156862},
                          :rects ({:x1 49.037499994039536,
                                   :y1 324.7999938726425,
                                   :x2 104.872941583395,
                                   :y2 335.200018286705,
                                   :width 668.7092254901961,
                                   :height 855.6367892156862}),
                          :page 208},
               :content {:text "INSTRUCTOR"},
               :properties {:color "yellow"}}
              {:id #uuid "64736ed4-3dff-44d9-803f-3f70bf013c0d",
               :page 208,
               :position {:bounding {:x1 208.56961059570312,
                                     :y1 428.1636657714844,
                                     :x2 560.2376098632812,
                                     :y2 448.96368408203125,
                                     :width 640.0000000000001,
                                     :height 818.9023333671172},
                          :rects ({:x1 208.56961059570312,
                                   :y1 428.1636657714844,
                                   :x2 560.2376098632812,
                                   :y2 448.96368408203125,
                                   :width 640.0000000000001,
                                   :height 818.9023333671172}),
                          :page 208},
               :content {:text "Communicating Negative News Effectively"},
               :properties {:color "yellow"}}
              {:id #uuid "6473a03f-5db2-41e0-8424-5d943523e462",
               :page 209,
               :position {:bounding {:x1 0,
                                     :y1 14.4000244140625,
                                     :x2 408.1095764040947,
                                     :y2 89.61248779296875,
                                     :width 717.9999999999998,
                                     :height 918.7060552462342},
                          :rects ({:x1 0,
                                   :y1 14.4000244140625,
                                   :x2 0,
                                   :y2 33.60003662109375,
                                   :width 717.9999999999998,
                                   :height 918.7060552462342}
                                  {:x1 112.51249998807907,
                                   :y1 53.61248779296875,
                                   :x2 408.1095764040947,
                                   :y2 72.01251220703125,
                                   :width 717.9999999999998,
                                   :height 918.7060552462342}
                                  {:x1 112.51249998807907,
                                   :y1 71.2125244140625,
                                   :x2 221.5247375369072,
                                   :y2 89.61248779296875,
                                   :width 717.9999999999998,
                                   :height 918.7060552462342}),
                          :page 209},
               :content {:text "Identifying Your Goals in Communicating Negative News"},
               :properties {:color "yellow"}}
              {:id #uuid "648f5337-d8dc-4956-954c-bea22f1e5d22",
               :page 426,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 523.9892120361328,
                                     :y2 178.63748168945312,
                                     :width 684.0000000000001,
                                     :height 875.2018687861064},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 684.0000000000001,
                                   :height 875.2018687861064}
                                  {:x1 0,
                                   :y1 94.39999389648438,
                                   :x2 0,
                                   :y2 113.5999755859375,
                                   :width 684.0000000000001,
                                   :height 875.2018687861064}
                                  {:x1 229.6125030517578,
                                   :y1 134.98748779296875,
                                   :x2 523.9892120361328,
                                   :y2 157.38748168945312,
                                   :width 684.0000000000001,
                                   :height 875.2018687861064}
                                  {:x1 229.6125030517578,
                                   :y1 156.23748779296875,
                                   :x2 382.8052978515625,
                                   :y2 178.63748168945312,
                                   :width 684.0000000000001,
                                   :height 875.2018687861064}),
                          :page 426},
               :content {:text "Unlocking the Hidden Job Market With networking"},
               :properties {:color "yellow"}}
              {:id #uuid "648f542e-b461-4b9a-86d3-76e50323006a",
               :page 420,
               :position {:bounding {:x1 214.75,
                                     :y1 467.75,
                                     :x2 472.85870361328125,
                                     :y2 488.54998779296875,
                                     :width 639.7218300653594,
                                     :height 818.5464052287581},
                          :rects ({:x1 214.75,
                                   :y1 467.75,
                                   :x2 472.85870361328125,
                                   :y2 488.54998779296875,
                                   :width 639.7218300653594,
                                   :height 818.5464052287581}),
                          :page 420},
               :content {:text "Job Searching in the Digital Age"},
               :properties {:color "yellow"}}
              {:id #uuid "648f5442-8df9-4d60-aba4-e52e983090fa",
               :page 424,
               :position {:bounding {:x1 0,
                                     :y1 78.39999389648438,
                                     :x2 561.2802734375,
                                     :y2 154.01251220703125,
                                     :width 639.7218300653594,
                                     :height 818.5464052287581},
                          :rects ({:x1 0,
                                   :y1 78.39999389648438,
                                   :x2 0,
                                   :y2 97.60000610351562,
                                   :width 639.7218300653594,
                                   :height 818.5464052287581}
                                  {:x1 214.75,
                                   :y1 113.33749389648438,
                                   :x2 561.2802734375,
                                   :y2 134.13751220703125,
                                   :width 639.7218300653594,
                                   :height 818.5464052287581}
                                  {:x1 214.75,
                                   :y1 133.21249389648438,
                                   :x2 411.8164978027344,
                                   :y2 154.01251220703125,
                                   :width 639.7218300653594,
                                   :height 818.5464052287581}),
                          :page 424},
               :content {:text "Developing a Job-Search Strategy Focused on the Open Job Market"},
               :properties {:color "yellow"}}
              {:id #uuid "648f7440-80b2-46ed-ae1f-6fdd2851cf61",
               :page 424,
               :position {:bounding {:x1 36,
                                     :y1 545,
                                     :x2 352,
                                     :y2 749,
                                     :width 639.7218300653594,
                                     :height 818.5464052287581},
                          :rects (),
                          :page 424},
               :content {:text "[:span]", :image 1687123005160},
               :properties {:color "purple"}}
              {:id #uuid "648f7a46-d0a0-4a99-be3b-035a3353b190",
               :page 424,
               :position {:bounding {:x1 211.6125030517578,
                                     :y1 468.9125061035156,
                                     :x2 412.35699462890625,
                                     :y2 485.7124938964844,
                                     :width 639.7218300653594,
                                     :height 818.5464052287581},
                          :rects ({:x1 211.6125030517578,
                                   :y1 468.9125061035156,
                                   :x2 412.35699462890625,
                                   :y2 485.7124938964844,
                                   :width 639.7218300653594,
                                   :height 818.5464052287581}),
                          :page 424},
               :content {:text "Searching the Open Job Market"},
               :properties {:color "blue"}}
              {:id #uuid "648f92d0-f0a5-439c-a750-187b49f2e0ef",
               :page 425,
               :position {:bounding {:x1 75.17500305175781,
                                     :y1 92.71249389648438,
                                     :x2 203.393798828125,
                                     :y2 105.51251220703125,
                                     :width 640,
                                     :height 818.902333367117},
                          :rects ({:x1 75.17500305175781,
                                   :y1 92.71249389648438,
                                   :x2 203.393798828125,
                                   :y2 105.51251220703125,
                                   :width 640,
                                   :height 818.902333367117}),
                          :page 425},
               :content {:text "Exploring the Big Boards"},
               :properties {:color "blue"}}
              {:id #uuid "648f92e9-e717-4f0b-a535-3965b85267ae",
               :page 425,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 201.2188262939453,
                                     :y2 293.815185546875,
                                     :width 640,
                                     :height 818.902333367117},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 640,
                                   :height 818.902333367117}
                                  {:x1 75.16732788085938,
                                   :y1 281.01519775390625,
                                   :x2 201.2188262939453,
                                   :y2 293.815185546875,
                                   :width 640,
                                   :height 818.902333367117}),
                          :page 425},
               :content {:text "Pursuing company Leads"},
               :properties {:color "blue"}}
              {:id #uuid "648f92f0-1445-46f3-82bd-e86692910f3b",
               :page 425,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 181.94200134277344,
                                     :y2 440.8249816894531,
                                     :width 640,
                                     :height 818.902333367117},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 640,
                                   :height 818.902333367117}
                                  {:x1 75.17500305175781,
                                   :y1 428.0249938964844,
                                   :x2 181.94200134277344,
                                   :y2 440.8249816894531,
                                   :width 640,
                                   :height 818.902333367117}),
                          :page 425},
               :content {:text "checking niche Sites"},
               :properties {:color "blue"}}
              {:id #uuid "648f92f3-b697-460b-a7d2-1a71b5a951ed",
               :page 425,
               :position {:bounding {:x1 75.17500305175781,
                                     :y1 536.5625305175781,
                                     :x2 241.3675994873047,
                                     :y2 549.3625183105469,
                                     :width 640,
                                     :height 818.902333367117},
                          :rects ({:x1 75.17500305175781,
                                   :y1 536.5625305175781,
                                   :x2 241.3675994873047,
                                   :y2 549.3625183105469,
                                   :width 640,
                                   :height 818.902333367117}),
                          :page 425},
               :content {:text "Taking Advantage of Mobile Apps"},
               :properties {:color "blue"}}
              {:id #uuid "6494547a-6c0d-48f8-96f8-18c4d80d1bfb",
               :page 425,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 381.701904296875,
                                     :y2 739.9249877929688,
                                     :width 680.0000000000001,
                                     :height 870.0837292025619},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 680.0000000000001,
                                   :height 870.0837292025619}
                                  {:x1 79.875,
                                   :y1 726.3250122070312,
                                   :x2 381.701904296875,
                                   :y2 739.9249877929688,
                                   :width 680.0000000000001,
                                   :height 870.0837292025619}),
                          :page 425},
               :content {:text "checking newspapers, career Fairs, and Other Sources"},
               :properties {:color "blue"}}
              {:id #uuid "6494612c-d448-4141-83c6-af8c22505014",
               :page 426,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 419.436279296875,
                                     :y2 402.75000762939453,
                                     :width 680.0000000000001,
                                     :height 870.0837292025619},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 680.0000000000001,
                                   :height 870.0837292025619}
                                  {:x1 224.9499969482422,
                                   :y1 385.1500015258789,
                                   :x2 419.436279296875,
                                   :y2 402.75000762939453,
                                   :width 680.0000000000001,
                                   :height 870.0837292025619}),
                          :page 426},
               :content {:text "Building a Personal network"},
               :properties {:color "blue"}}
              {:id #uuid "64946155-bc30-4d25-825e-d6eb9a5d9f1f",
               :page 428,
               :position {:bounding {:x1 224.9375,
                                     :y1 50.70001220703125,
                                     :x2 472.918212890625,
                                     :y2 68.29998779296875,
                                     :width 680.0000000000001,
                                     :height 870.0837292025619},
                          :rects ({:x1 224.9375,
                                   :y1 50.70001220703125,
                                   :x2 472.918212890625,
                                   :y2 68.29998779296875,
                                   :width 680.0000000000001,
                                   :height 870.0837292025619}),
                          :page 428},
               :content {:text "Prospecting for Jobs on Social Media"},
               :properties {:color "blue"}}
              {:id #uuid "6494618f-a0d0-4f3f-a364-d9748787c4c0",
               :page 429,
               :position {:bounding {:x1 113.2249984741211,
                                     :y1 668.8625030517578,
                                     :x2 314.3019332885742,
                                     :y2 686.4624938964844,
                                     :width 680.0000000000001,
                                     :height 870.0837292025619},
                          :rects ({:x1 113.2249984741211,
                                   :y1 668.8625030517578,
                                   :x2 314.3019332885742,
                                   :y2 686.4624938964844,
                                   :width 680.0000000000001,
                                   :height 870.0837292025619}),
                          :page 429},
               :content {:text "creating Your Personal Brand"},
               :properties {:color "blue"}}],
 :extra {:page 463}}
