{:highlights [{:id #uuid "63f99c0a-1a7d-4ce4-bda6-44db3a5cc6d8",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 94.40000915527344,
                                     :x2 564.0608520507812,
                                     :y2 219.67501831054688,
                                     :width 639.9999999999999,
                                     :height 828.235294117647},
                          :rects ({:x1 0,
                                   :y1 94.40000915527344,
                                   :x2 0,
                                   :y2 113.60000610351562,
                                   :width 639.9999999999999,
                                   :height 828.235294117647}
                                  {:x1 108.3125,
                                   :y1 178.32501220703125,
                                   :x2 564.0608520507812,
                                   :y2 194.32501220703125,
                                   :width 639.9999999999999,
                                   :height 828.235294117647}
                                  {:x1 82.8125,
                                   :y1 203.67501831054688,
                                   :x2 209.966552734375,
                                   :y2 219.67501831054688,
                                   :width 639.9999999999999,
                                   :height 828.235294117647}),
                          :page 2},
               :content {:text "Học phần cung cấp cho sinh viên kiến thức cơ bản về Triết học Mác – Lênin một cách có hệ thống"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
