{:highlights [{:id #uuid "63fa9b19-90a8-4fa8-a7f1-3cb00b8f0632",
               :page 13,
               :position {:bounding {:x1 0,
                                     :y1 430.39998626708984,
                                     :x2 844.5875015258789,
                                     :y2 922.3624877929688,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 0,
                                   :y1 430.39998626708984,
                                   :x2 0,
                                   :y2 449.59998321533203,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 180.63956451416016,
                                   :y1 869.7624816894531,
                                   :x2 844.5875015258789,
                                   :y2 895.3624877929688,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.03751373291016,
                                   :y1 896.7624816894531,
                                   :x2 838.9875259399414,
                                   :y2 922.3624877929688,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 13},
               :content {:text "khái niệm thế giới quan luôn có sẵn trong nó một sơ đồ xác định về thế giới, một sơ đồ mà không cần tới một sự giải thích lý thuyết nào cả"},
               :properties {:color "red"}}
              {:id #uuid "63fa9d74-b029-42be-b1ca-6b049637db17",
               :page 7,
               :position {:bounding {:x1 432.0796890258789,
                                     :y1 984.0124816894531,
                                     :x2 641.5331192016602,
                                     :y2 1009.6125183105469,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 432.0796890258789,
                                   :y1 984.0124816894531,
                                   :x2 641.5331192016602,
                                   :y2 1009.6125183105469,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 7},
               :content {:text "òng sữ a tinh tế nhất"},
               :properties {:color "red"}}
              {:id #uuid "63fa9eeb-e844-4e6d-9a2b-ed88f21c8e2a",
               :page 12,
               :position {:bounding {:x1 474.2638931274414,
                                     :y1 1036.0124969482422,
                                     :x2 752.3938369750977,
                                     :y2 1061.6124877929688,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 474.2638931274414,
                                   :y1 1036.0124969482422,
                                   :x2 752.3938369750977,
                                   :y2 1061.6124877929688,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 12},
               :content {:text "“khoa học của các khoa học”"},
               :properties {:color "red"}}
              {:id #uuid "63fa9fc3-9bf4-418d-841f-68c66b74193f",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 430.40001678466797,
                                     :x2 841.7648696899414,
                                     :y2 932.3625183105469,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 0,
                                   :y1 430.40001678466797,
                                   :x2 0,
                                   :y2 449.6000175476074,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 758.6042861938477,
                                   :y1 879.7625122070312,
                                   :x2 841.7648696899414,
                                   :y2 905.3625183105469,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.03751373291016,
                                   :y1 906.7625122070312,
                                   :x2 437.3461685180664,
                                   :y2 932.3625183105469,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 14},
               :content {:text "bản thân triết học chính là thế giới quan"},
               :properties {:color "red"}}
              {:id #uuid "63faa06c-994c-41b4-afb2-7248f94bd28d",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 398.3999996185303,
                                     :x2 844.8375015258789,
                                     :y2 950.5625,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 0,
                                   :y1 398.3999996185303,
                                   :x2 0,
                                   :y2 417.6000003814697,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 0,
                                   :y1 414.40000009536743,
                                   :x2 0,
                                   :y2 433.6000008583069,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 0,
                                   :y1 430.3999996185303,
                                   :x2 0,
                                   :y2 449.60000228881836,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 594.1125259399414,
                                   :y1 844.5625,
                                   :x2 841.6101455688477,
                                   :y2 870.1625061035156,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.0250015258789,
                                   :y1 871.3625183105469,
                                   :x2 841.9744033813477,
                                   :y2 896.9624938964844,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.0250015258789,
                                   :y1 898.1625061035156,
                                   :x2 844.8375015258789,
                                   :y2 923.7625122070312,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.0250015258789,
                                   :y1 924.9625244140625,
                                   :x2 357.4981460571289,
                                   :y2 950.5625,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 10},
               :content {:text "triế t học là hệ thống quanđiểm lí luận chung nhất về thế giới và vị trí con ngườ i trong thế giới đó, là khoa học về những quy luật vận động, phát triển chung nhất của tự nhiên, xã hội và tư duy."},
               :properties {:color "yellow"}}
              {:id #uuid "63faa0d3-82cf-42e0-9e34-1a86d5f7b5a4",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 558.400016784668,
                                     :x2 804.7402725219727,
                                     :y2 1169.0125427246094,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 0,
                                   :y1 558.400016784668,
                                   :x2 0,
                                   :y2 577.6000213623047,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 0,
                                   :y1 574.400016784668,
                                   :x2 0,
                                   :y2 593.6000213623047,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 0,
                                   :y1 590.400016784668,
                                   :x2 0,
                                   :y2 609.6000213623047,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 624.7125015258789,
                                   :y1 1062.8125305175781,
                                   :x2 797.6470718383789,
                                   :y2 1088.4125061035156,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.03751373291016,
                                   :y1 1089.6125183105469,
                                   :x2 804.7402725219727,
                                   :y2 1115.2125549316406,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.03751373291016,
                                   :y1 1116.6125183105469,
                                   :x2 804.2243423461914,
                                   :y2 1142.2125549316406,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.03751373291016,
                                   :y1 1143.4125061035156,
                                   :x2 275.4496841430664,
                                   :y2 1169.0125427246094,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 12},
               :content {:text "tiếp tục giải quyết mối quan hệ giữa tồn tại và tư duy, giữ a vật chất và ý thức trên lập trường duy vật triệt để và nghiên cứu những quy luật chung nhất của tự nhiên, xã hội và tư duy "},
               :properties {:color "yellow"}}
              {:id #uuid "63faa0fa-8865-4176-9ce0-b4f93d150ccb",
               :page 14,
               :position {:bounding {:x1 290.65238189697266,
                                     :y1 960.4125061035156,
                                     :x2 370.8118667602539,
                                     :y2 986.0124816894531,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 290.65238189697266,
                                   :y1 960.4125061035156,
                                   :x2 370.8118667602539,
                                   :y2 986.0124816894531,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 14},
               :content {:text "triết học"},
               :properties {:color "red"}}
              {:id #uuid "63faa104-03bb-46b4-9087-6b66480a0c99",
               :page 14,
               :position {:bounding {:x1 204.0818862915039,
                                     :y1 987.2124938964844,
                                     :x2 341.6746292114258,
                                     :y2 1012.8125,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 204.0818862915039,
                                   :y1 987.2124938964844,
                                   :x2 341.6746292114258,
                                   :y2 1012.8125,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 14},
               :content {:text "nhân tố cốt lõi"},
               :properties {:color "red"}}
              {:id #uuid "63faa10c-0b08-420b-8c28-f415c60b0bb1",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 510.3999786376953,
                                     :x2 844.9125137329102,
                                     :y2 1066.4125061035156,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 0,
                                   :y1 510.3999786376953,
                                   :x2 0,
                                   :y2 529.599983215332,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 680.0548477172852,
                                   :y1 1014.0124816894531,
                                   :x2 844.9125137329102,
                                   :y2 1039.6124877929688,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.03751373291016,
                                   :y1 1040.8125,
                                   :x2 442.60037994384766,
                                   :y2 1066.4125061035156,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 14},
               :content {:text "triết học bao giờ cũng có ảnh hưở ng và chi phối"},
               :properties {:color "red"}}
              {:id #uuid "63faa115-36eb-4f71-a423-975664fe6c9e",
               :page 14,
               :position {:bounding {:x1 425.47501373291016,
                                     :y1 1067.6124877929688,
                                     :x2 507.6109390258789,
                                     :y2 1093.2124938964844,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 425.47501373291016,
                                   :y1 1067.6124877929688,
                                   :x2 507.6109390258789,
                                   :y2 1093.2124938964844,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 14},
               :content {:text "quy định"},
               :properties {:color "red"}}
              {:id #uuid "63faa160-2137-4c6d-a468-9cd7bc9623bb",
               :page 15,
               :position {:bounding {:x1 0,
                                     :y1 190.40000534057617,
                                     :x2 840.5625381469727,
                                     :y2 461.3249931335449,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 0,
                                   :y1 190.40000534057617,
                                   :x2 0,
                                   :y2 209.60000228881836,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 634.6668472290039,
                                   :y1 408.92499923706055,
                                   :x2 840.5625381469727,
                                   :y2 434.5250053405762,
                                   :width 991.6,
                                   :height 1403.3999999999999}
                                  {:x1 150.03751373291016,
                                   :y1 435.7250175476074,
                                   :x2 198.19214630126953,
                                   :y2 461.3249931335449,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 15},
               :content {:text "vấn đề thuộc thế giới quan"},
               :properties {:color "red"}}
              {:id #uuid "63faa168-28d6-45de-9117-f93df538c389",
               :page 15,
               :position {:bounding {:x1 298.7053909301758,
                                     :y1 435.7250175476074,
                                     :x2 525.8217544555664,
                                     :y2 461.3249931335449,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 298.7053909301758,
                                   :y1 435.7250175476074,
                                   :x2 525.8217544555664,
                                   :y2 461.3249931335449,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 15},
               :content {:text "thế giới quan đúng đắn"},
               :properties {:color "red"}}
              {:id #uuid "63faa176-8712-42ca-b232-c53a7b23e9f2",
               :page 15,
               :position {:bounding {:x1 344.41934967041016,
                                     :y1 489.3249931335449,
                                     :x2 690.7219619750977,
                                     :y2 514.9249992370605,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 344.41934967041016,
                                   :y1 489.3249931335449,
                                   :x2 690.7219619750977,
                                   :y2 514.9249992370605,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 15},
               :content {:text "Trình độ phát triển của thế giới quan"},
               :properties {:color "red"}}
              {:id #uuid "63faa1ae-c08c-4d2e-bc9f-491056db5cb5",
               :page 15,
               :position {:bounding {:x1 519.4770889282227,
                                     :y1 992.4125061035156,
                                     :x2 667.0849380493164,
                                     :y2 1018.0124816894531,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 519.4770889282227,
                                   :y1 992.4125061035156,
                                   :x2 667.0849380493164,
                                   :y2 1018.0124816894531,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 15},
               :content {:text " tư duy triết học"},
               :properties {:color "red"}}
              {:id #uuid "63faa1b9-81db-42a1-b3fd-ceffec5fe271",
               :page 15,
               :position {:bounding {:x1 546.8452529907227,
                                     :y1 911.7624816894531,
                                     :x2 765.5685806274414,
                                     :y2 937.3624877929688,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 546.8452529907227,
                                   :y1 911.7624816894531,
                                   :x2 765.5685806274414,
                                   :y2 937.3624877929688,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 15},
               :content {:text "triết học có ảnh hưở ng"},
               :properties {:color "red"}}
              {:id #uuid "63faa1e5-2e79-4d9f-a822-b4ba74dda200",
               :page 16,
               :position {:bounding {:x1 418.07498931884766,
                                     :y1 318.27500915527344,
                                     :x2 577.7939834594727,
                                     :y2 343.87501525878906,
                                     :width 991.6,
                                     :height 1403.3999999999999},
                          :rects ({:x1 418.07498931884766,
                                   :y1 318.27500915527344,
                                   :x2 577.7939834594727,
                                   :y2 343.87501525878906,
                                   :width 991.6,
                                   :height 1403.3999999999999}),
                          :page 16},
               :content {:text "triết học chi phối"},
               :properties {:color "red"}}
              {:id #uuid "64061fdb-48fd-4b1e-9646-930173b2372d",
               :page 21,
               :position {:bounding {:x1 -0.0010426512453705072,
                                     :y1 286.4000015258789,
                                     :x2 641.9125366210938,
                                     :y2 474.80001068115234,
                                     :width 640,
                                     :height 905.7845905607098},
                          :rects ({:x1 0,
                                   :y1 286.4000015258789,
                                   :x2 0,
                                   :y2 305.60001373291016,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 0,
                                   :y1 302.4000015258789,
                                   :x2 0,
                                   :y2 321.60001373291016,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 0,
                                   :y1 318.4000015258789,
                                   :x2 0,
                                   :y2 337.5999984741211,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 0,
                                   :y1 334.4000015258789,
                                   :x2 0,
                                   :y2 353.5999984741211,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 134.6896209716797,
                                   :y1 384.5632553100586,
                                   :x2 639.971923828125,
                                   :y2 401.90074920654297,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 -0.0010426512453705072,
                                   :y1 402.37779998779297,
                                   :x2 641.9125366210938,
                                   :y2 419.65279388427734,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 -0.0009369816980324686,
                                   :y1 419.6653060913086,
                                   :x2 640.8375244140625,
                                   :y2 436.9527816772461,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 457.6549987792969,
                                   :y1 420.7625045776367,
                                   :x2 467.9424743652344,
                                   :y2 474.80001068115234,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 -0.0005065918085165322,
                                   :y1 436.97920989990234,
                                   :x2 641.6749877929688,
                                   :y2 454.26671600341797,
                                   :width 640,
                                   :height 905.7845905607098}
                                  {:x1 -0.00039894721703603864,
                                   :y1 454.2903060913086,
                                   :x2 490.68408203125,
                                   :y2 474.7903060913086,
                                   :width 640,
                                   :height 905.7845905607098}),
                          :page 21},
               :content {:text "Nếu chúng ta có thể minh chứng được tính chính xác của quanđiểm của chúng ta về một hiện tượng tự nhiên nào đó, bằng cách tự chúng ta làm ra hiện tượng ấy, bằng cách tạo ra nó từ những điề u kiện của nó, và hơn nữ a, còn bắt nó phải phục vụ mục đích củ a chúng ta, thì sẽ không còn có cái “vật tự nó” không thể nắm được của Cantơ nữ a"},
               :properties {:color "red"}}],
 :extra {:page 232}}
