{:highlights [{:id #uuid "63f73def-339b-41ac-9bc0-04650f483bdd",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 910,
                                     :y2 1356,
                                     :width 910.0534799999999,
                                     :height 673.18116},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 910,
                                   :y2 0,
                                   :width 910.0534799999999,
                                   :height 673.18116}
                                  {:x1 0,
                                   :y1 683,
                                   :x2 910,
                                   :y2 1356,
                                   :width 910.0534799999999,
                                   :height 673.18116}),
                          :page 6},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "63f73ea0-011f-44f3-b872-1c4177830f30",
               :page 5,
               :position {:bounding {:x1 13,
                                     :y1 361.199951171875,
                                     :x2 290,
                                     :y2 391.199951171875,
                                     :width 640.0000000000001,
                                     :height 473.418268122001},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1677147808101},
               :properties {:color "yellow"}}
              {:id #uuid "63f8e66e-489d-4469-84d5-6aa700637086",
               :page 17,
               :position {:bounding {:x1 85,
                                     :y1 165,
                                     :x2 243,
                                     :y2 180,
                                     :width 577.9999999999999,
                                     :height 427.555873397682},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1677256300944},
               :properties {:color "yellow"}}
              {:id #uuid "63f963a1-8f57-472c-a4bf-c69dd5abfe7e",
               :page 23,
               :position {:bounding {:x1 578,
                                     :y1 358.599609375,
                                     :x2 1046,
                                     :y2 468.599609375,
                                     :width 1073.384856938064,
                                     :height 794},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1677288352299},
               :properties {:color "yellow"}}
              {:id #uuid "63f963e6-8b41-46ae-a33a-2502a6ea40eb",
               :page 24,
               :position {:bounding {:x1 35,
                                     :y1 199.599609375,
                                     :x2 505,
                                     :y2 245.599609375,
                                     :width 1073.384856938064,
                                     :height 794},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1677288421070},
               :properties {:color "yellow"}}
              {:id #uuid "63f9684f-7d9b-4665-904d-efc2abb80e0b",
               :page 25,
               :position {:bounding {:x1 41,
                                     :y1 367.599609375,
                                     :x2 234,
                                     :y2 397.599609375,
                                     :width 1073.384856938064,
                                     :height 794},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1677289550314},
               :properties {:color "yellow"}}
              {:id #uuid "64ad88e3-f914-44c0-a831-0c449b09f0b4",
               :page 121,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 853,
                                     :y2 1270,
                                     :width 853,
                                     :height 630.9777854813543},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 853,
                                   :y2 0,
                                   :width 853,
                                   :height 630.9777854813543}
                                  {:x1 0,
                                   :y1 640,
                                   :x2 853,
                                   :y2 1270,
                                   :width 853,
                                   :height 630.9777854813543}),
                          :page 121},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "64be60b2-533c-412a-883f-39080cf8cb3c",
               :page 32,
               :position {:bounding {:x1 494.6666564941406,
                                     :y1 452.666015625,
                                     :x2 899.6666564941406,
                                     :y2 510.666015625,
                                     :width 910.0534799999999,
                                     :height 673.18116},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1690198193332},
               :properties {:color "yellow"}}],
 :extra {:page 33}}
