{:highlights [{:id #uuid "63947e59-fbf8-43d8-bedd-e07fdb69fbd1", :page 1, :position {:bounding {:x1 26, :y1 484, :x2 593, :y2 529, :width 691.1999999999999, :height 892.8}, :rects (), :page 1}, :content {:text "[:span]", :image 1670676057313}, :properties {:color "yellow"}}]}