{:highlights [{:id #uuid "64095521-315e-49c5-93cc-33aa702d3130",
               :page 75,
               :position {:bounding {:x1 0,
                                     :y1 382.3999938964844,
                                     :x2 592.826928704977,
                                     :y2 681.7375335693359,
                                     :width 645,
                                     :height 834.7058823529412},
                          :rects ({:x1 0,
                                   :y1 382.3999938964844,
                                   :x2 0,
                                   :y2 401.6000061035156,
                                   :width 645,
                                   :height 834.7058823529412}
                                  {:x1 0,
                                   :y1 398.3999938964844,
                                   :x2 0,
                                   :y2 417.6000061035156,
                                   :width 645,
                                   :height 834.7058823529412}
                                  {:x1 0,
                                   :y1 414.3999938964844,
                                   :x2 0,
                                   :y2 433.59999084472656,
                                   :width 645,
                                   :height 834.7058823529412}
                                  {:x1 108.29478606581688,
                                   :y1 598.2249908447266,
                                   :x2 592.4811645448208,
                                   :y2 615.0250091552734,
                                   :width 645,
                                   :height 834.7058823529412}
                                  {:x1 75.98750457167625,
                                   :y1 620.4625091552734,
                                   :x2 591.7249999940395,
                                   :y2 637.2624969482422,
                                   :width 645,
                                   :height 834.7058823529412}
                                  {:x1 75.98750457167625,
                                   :y1 642.6999969482422,
                                   :x2 592.826928704977,
                                   :y2 659.5000152587891,
                                   :width 645,
                                   :height 834.7058823529412}
                                  {:x1 75.98750457167625,
                                   :y1 664.9375152587891,
                                   :x2 220.28749999403954,
                                   :y2 681.7375335693359,
                                   :width 645,
                                   :height 834.7058823529412}),
                          :page 75},
               :content {:text "Lý l đ i th ng (còn g i làẽ ờ ườ ọ l th ngẽ ườ ): đó là nh ng kinh nghi m s ng, kinhữ ệ ố nghi m văn hóa, là thói quen, chu n m c ng x , đ c đúc k t t m t th c ti n cệ ẩ ự ứ ử ượ ế ừ ộ ự ễ ụ th , đ c m t c ng đ ng th a nh n nên không t t y u đúng m i n i, m i lúc,ể ượ ộ ộ ồ ừ ậ ấ ế ở ọ ơ ọ trong m i m i quan h ."},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
