{:highlights [{:id #uuid "6473693e-3f42-4031-a50b-7f897d97c931",
               :page 208,
               :position {:bounding {:x1 0,
                                     :y1 14.399999976158142,
                                     :x2 581.344262689352,
                                     :y2 844.0456298589706,
                                     :width 668.7092254901961,
                                     :height 855.6367892156862},
                          :rects ({:x1 0,
                                   :y1 14.399999976158142,
                                   :x2 0,
                                   :y2 33.600000739097595,
                                   :width 668.7092254901961,
                                   :height 855.6367892156862}
                                  {:x1 581.3317504823208,
                                   :y1 838.4455932378769,
                                   :x2 581.344262689352,
                                   :y2 844.0456298589706,
                                   :width 668.7092254901961,
                                   :height 855.6367892156862}),
                          :page 208},
               :content {:text "Even well-managed businesses can run into trouble. Goods are not delivered, products fail to perform as expected, service is poor, billing gets fouled up, or customers are misunderstood. You may have to write messages declining proposals, explaining service outages, describing data breaches, announcing price increases, refusing requests for donations, turning down invitations, or responding to unhappy customers. You might have to apologize for mistakes in orders or"},
               :properties {:color "yellow"}}
              {:id #uuid "64736951-f2ec-436b-99a2-5c1f40d51a38",
               :page 208,
               :position {:bounding {:x1 49.037499994039536,
                                     :y1 406.41251373291016,
                                     :x2 156.86480101943016,
                                     :y2 420.0125198364258,
                                     :width 668.7092254901961,
                                     :height 855.6367892156862},
                          :rects ({:x1 49.037499994039536,
                                   :y1 406.41251373291016,
                                   :x2 156.86480101943016,
                                   :y2 420.0125198364258,
                                   :width 668.7092254901961,
                                   :height 855.6367892156862}),
                          :page 208},
               :content {:text "Learning Outcomes"},
               :properties {:color "yellow"}}
              {:id #uuid "6473697e-16a1-4454-a9bc-92449e8dd6be",
               :page 208,
               :position {:bounding {:x1 49.037499994039536,
                                     :y1 324.7999938726425,
                                     :x2 104.872941583395,
                                     :y2 335.200018286705,
                                     :width 668.7092254901961,
                                     :height 855.6367892156862},
                          :rects ({:x1 49.037499994039536,
                                   :y1 324.7999938726425,
                                   :x2 104.872941583395,
                                   :y2 335.200018286705,
                                   :width 668.7092254901961,
                                   :height 855.6367892156862}),
                          :page 208},
               :content {:text "INSTRUCTOR"},
               :properties {:color "yellow"}}
              {:id #uuid "64736ed4-3dff-44d9-803f-3f70bf013c0d",
               :page 208,
               :position {:bounding {:x1 208.56961059570312,
                                     :y1 428.1636657714844,
                                     :x2 560.2376098632812,
                                     :y2 448.96368408203125,
                                     :width 640.0000000000001,
                                     :height 818.9023333671172},
                          :rects ({:x1 208.56961059570312,
                                   :y1 428.1636657714844,
                                   :x2 560.2376098632812,
                                   :y2 448.96368408203125,
                                   :width 640.0000000000001,
                                   :height 818.9023333671172}),
                          :page 208},
               :content {:text "Communicating Negative News Effectively"},
               :properties {:color "yellow"}}
              {:id #uuid "6473a03f-5db2-41e0-8424-5d943523e462",
               :page 209,
               :position {:bounding {:x1 0,
                                     :y1 14.4000244140625,
                                     :x2 408.1095764040947,
                                     :y2 89.61248779296875,
                                     :width 717.9999999999998,
                                     :height 918.7060552462342},
                          :rects ({:x1 0,
                                   :y1 14.4000244140625,
                                   :x2 0,
                                   :y2 33.60003662109375,
                                   :width 717.9999999999998,
                                   :height 918.7060552462342}
                                  {:x1 112.51249998807907,
                                   :y1 53.61248779296875,
                                   :x2 408.1095764040947,
                                   :y2 72.01251220703125,
                                   :width 717.9999999999998,
                                   :height 918.7060552462342}
                                  {:x1 112.51249998807907,
                                   :y1 71.2125244140625,
                                   :x2 221.5247375369072,
                                   :y2 89.61248779296875,
                                   :width 717.9999999999998,
                                   :height 918.7060552462342}),
                          :page 209},
               :content {:text "Identifying Your Goals in Communicating Negative News"},
               :properties {:color "yellow"}}],
 :extra {:page 224}}
